body 
{
  font-family: 'Open Sans', sans-serif;
  background-color: #ecf0f3;
}
.container{
  margin:auto;
}
::-webkit-scrollbar {
width: 1px;
}
::-webkit-scrollbar-track {
  background: #ecf0f3;
}
::-webkit-scrollbar-thumb {
  background: ##ecf0f3;;
}
::-webkit-scrollbar-thumb:hover {
  background: ##ecf0f3;;
}
.step {
  display: none;
}
#step1{
  width: 100%;
  margin: 10px auto;
  max-width: 350px;
}
.step.active {
  display: block;
  margin-top: 20px;
}
.text-center{
  margin-top: 15px;
}

#timer{
margin-top:5px;
font-size: 12px; 
font-weight: bold;  
color: red; 
border-radius: 5px; 
}

#accessMessage{
    display: none; 
    color: red; 
    font-size: 20px; 
    text-align: center; 
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  #error-message{
    color: red; 
    display: none; 
    font-size: 12px;
  }

  #radio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 35px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .radio-group {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  .radio-group input[type="radio"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid #009e63;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }

  .radio-group input[type="radio"]::before {
    content: attr(data-label);
    color: #009e63;
    font-size: 10px;
    font-weight: bold;
    }

  .radio-group input[type="radio"]:hover {
    border-color: #009e63; 
    color: #009e63;
  }

  .radio-group input[type="radio"]:checked {
    background-color: #009e63;
    color: #fff;
  }

  .radio-group input[type="radio"]:checked::before {
    color: #fff;
  }

  .large-radio {
    transform: scale(1.5);
    margin-right: 35px;
  }

  .question-number {
    margin-right: 10px;
    width: 25px;
    font-weight: bold;
  }

  .radio-group label {
    margin-right: 20px;
    font-weight: bold;
  }

  .content{
    overflow-x: hidden;
    text-align:center;
    position: relative;
    padding-top: 80.25%;
    width: 100%;
    height:100%;
    }

  .scroll {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  #overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none;
}

#overlay div {
  color: white;
  font-size: 20px;
  text-align: center;
}

#overlay i {
  font-size: 40px;
  margin-top: 20%;
}

#iframe-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #000;
  margin: 0 auto;
  -webkit-overflow-scrolling: touch;
}

 .col-md-4 {
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#pdfIframe {
  width: 100%;
  height: 100%;
  border: none;
  transform-origin: 0 0;
  transform: scale(1);
  transition: transform 0.25s ease-in-out;
  object-fit: contain;
}

.zoom-controls {
    display: none;
  }

.wrapper {
     max-width: 380px;
     min-height: 550px;
     margin: 0 auto;
     padding: 40px 0px 10px 10px;
     border-radius: 15px;
 }

 .icon {
     width: 80px;
     margin: auto
 }

 .icon img {
     width: 100%;
     height: 80px;
     object-fit: cover;
 }

 .wrapper .name {
     font-weight: 600;
     font-size: 1.4rem;
     letter-spacing: 1.3px;
     padding-left: 10px;
     color: #555
 }

 .wrapper .input-field input, select {
     width: 100%;
     display: block;
     border: none;
     outline: none;
     background: none;
     font-size: 1.1rem;
     color: #666;
     padding: 10px 15px 10px 10px
 }

 .wrapper .input-field {
     padding-left: 10px;
     margin-bottom: 20px;
     border-radius: 20px;
     box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff
 }

 .wrapper .input-field .fas {
     color: #555
 }

 .wrapper .btn {
     box-shadow: none;
     width: 100%;
     height: 40px;
     background-color: #009e63;
     color: #fff;
     border-radius: 25px;
     box-shadow: 3px 3px 3px #00b370, -3px -3px 3px #fff;
     letter-spacing: 1.3px
 }

 #submitBtn{
     box-shadow: none;
     width: 50%;
     height: 40px;
     background-color: #009e63;
     color: #fff;
     border-radius: 25px;
     box-shadow: 3px 3px 3px #009e63, -3px -3px 3px #fff;
     letter-spacing: 1.3px
 }

 #submitBtn:hover {
     background-color: #00b370;
 }

 .wrapper .btn:hover {
     background-color: #00b370;
 }

 .wrapper a {
     text-decoration: none;
     font-size: 0.8rem;
     color: #7f8a8f
 }

 .wrapper a:hover {
     color: #fd028c
 }

 @media(max-width: 380px) {
  .wrapper {
    margin: 70px auto;
    padding: 20px 0px;
    width: calc(100vw - 30px);
    box-sizing: border-box;
  }

  .icon img {
    max-width: 100%;
    height: auto;
  }
  
  .input-field input, .input-field select {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container{
    margin-top:-40px;
    border: none;
  }
  .main{
    margin-top: 50px;
  }

  .wrapper {
    margin: 50px auto;
    padding: 20px 0px;
    width: calc(100vw - 30px);
    box-sizing: border-box;
  }

  #pdfIframe {
    width: 400px;
    margin-left:-15px;
    min-width: 100%;
    min-height: 100%;
  }
  
  .col-md-4{
     height: 350px; 
  }
  
  .blinking-dot {
    height: 5px;
    width: 5px;
    margin: 12px 2px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    animation: blink 1.5s infinite;
  }

  .dot-red {
    background-color: red;
  }

  .dot-green {
    background-color: green;
  }

  .dot-blue {
    background-color: blue;
  }

  .dot-darkblue {
    background-color: darkblue;
  }

  .dot-purple {
    background-color: purple;
  }
  .dot-darkgreen {
    background-color: darkgreen;
  }
  
   @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

 .zoom-controls {
  display: flex;
  justify-content: center;
  margin-top:-5px;
 }

 .zoom-controls button {
  margin: 0 5px;
  padding: 5px;
  font-size: 12px;
 }
 .scroll {
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  order: 2;
  height: 380px;
}
 #radio-container {
  margin-right:5px;
  }
#overlay i {
  font-size: 40px;
  margin-top: 65%;
 }

  #iframe-container {
    height: 450px;
    overflow-x:auto;
  }
  
 .col-md-4 {
    height: 350px; 
  }
  
  .zoom-controls {
  display: flex;
  justify-content: center;
  margin-top:-5px;
 }

 .zoom-controls button {
  margin: 0 5px;
  padding: 5px;
  font-size: 12px;
 }
 .scroll {
  position: absolute;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  order: 2;
  height: 380px;
 }
}

@media (min-width: 1025px) {
  #iframe-container {
    height: 680px;
    overflow-x:auto;
  }

  #pdfIframe {
    width: 800px;
    margin-bottom:150px;
    border: none;
    height: 690px;
    margin-top: -15px;
    margin-left: -15px;
  }
  
  .col-md-4 {
    max-height: 680px;
  }
}

:fullscreen #iframe-container, 
:-webkit-full-screen #iframe-container, 
:-moz-full-screen #iframe-container, 
:-ms-fullscreen #iframe-container {
  width: 100%;
  height: 100%;
}
